<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/skillMngStyle.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/javascript/jquery.min.js}"></script>
    <script th:src="@{/javascript/skillMngJQ.js}"></script>
    <style>
			.gridForm input, .gridForm select{
				width: 200px;
			}
		</style>
</head>
<body>
<div class="container">
    <h3>Employee Data</h3>
    <hr/>
    <form method="POST" id="projectDataForm" th:action="@{{id}(id=${project.id})}" th:object="${projectDataForm}">
        <div class="gridForm">
            <div><label for="projectId">Project Id: </label></div>
            <div><input style="background-color: #BBBBBB;"  th:value="${project.projectId}" type="text" name="projectId" id="projectId" maxlength="30"/></div>
            <div><label for="projectName">Project Name: </label></div>
            <div><input style="background-color: #BBBBBB;" th:value="${project.projectName}" type="text" name="projectName" id="projectName" maxlength="30"/></div>
            <div><label for="startDate">Start Date: </label></div>
            <div><input style="background-color: #BBBBBB;" th:field="*{projectStartDate}" type="text" name="startDate" id="startDate" min="0" max="999" maxlength="3"/></div>
            <div><label for="endDate">Password: </label></div>
            <div><input style="background-color: #BBBBBB;" th:field="*{projectEndDate}" type="text" name="endDate" id="endDate" maxlength="30"/></div>
        </div>
        <div>
            <div><button id="register">Save</button></div>

            <div id="success"><span th:text="${success}"></span>
            </div>

        </div>
        <div id="error"><span th:if="${employeeList}">Project already exists
        <h3>Employee List</h3>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Band</th>

                </tr>
                <tr th:each="employee, loop : ${employeeList}">
                    <td><label th:id="name+(${loop.index}+1)" th:text="${employee.name}"></label></td>
                    <td><label th:id="role+(${loop.index}+1)" th:text="${employee.job}"></label></td>
                    <td><label th:id="band+(${loop.index}+1)" th:text="${employee.band}"></label></td>
                </tr>
            </table>
            <!--					class="btn btn-primary btn-sm mb-3"-->
        </div>
    </span></div>
    </form>
</div>

</body>

</html>