
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Employee List</title>
	<link rel="stylesheet" th:href="@{/css/skillMngStyle.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script th:src="@{/javascript/jquery.min.js}"></script>
	<script th:src="@{/javascript/skillMngJQ.js}"></script>
</head>

<body>
<div class="container">
	<div class="menu">
		<ul>
			<!--					sec:authorize="hasRole('ADMIN')"-->
			<li><a th:href="@{home}">Home</a></li>
			<li><a th:href="@{skillsearch}">Skill Search</a></li>
			<li ><a th:href="@{employeelist}">Employee List</a></li>
			<li>
				<form name="logoutForm" id="logoutForm" method="post" th:action="@{logout}" th:hidden="true">
					<input type="submit" value="Logout"/>
				</form>
				<a id="logOutLink">Logout</a><br/>
			</li>
		</ul>
	</div>
	<div class="main">
		<h3>Project List</h3>
		<table border="1">
			<tr>
				<th>Employee Id</th>
				<th>Employee Name</th>
				<th>Role</th>
				<th>Band</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr th:each="employee, loop : ${employeeList}">
				<td><label th:id="projectId+(${loop.index}+1)" th:text="${employee.name}">AAA</label></td>
				<td><label th:id="projectName+(${loop.index}+1)" th:text="${employee.job}"></label></td>
				<td><label th:id="projectStartDate+(${loop.index}+1)" th:text="${employee.band}"></label></td>
				<td> <a th:href="@{edit/{id}(id=${employee.id})}"><input id="edit" type="button" value="Edit" ></a></td>
				<td> <a th:href="@{deleteemployee/{id}(id=${employee.name})}"><input id="delete" type="button" value="Delete" ></a></td>
			</tr>
		</table>
	</div>
</div>

</div>
</body>

</html>