<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Employee List</title>
		<link rel="stylesheet" th:href="@{/css/skillMngStyle.css}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script th:src="@{/javascript/jquery.min.js}"></script>
		<script th:src="@{/javascript/skillMngJQ.js}"></script>
	</head>
	
	<body>
		<div class="container">
			<div class="menu">
				<ul>
<!--					sec:authorize="hasRole('ADMIN')"-->
					<li><a th:href="@{home}">Home</a></li>
					<li><a th:href="@{skillsearch}">Skill Search</a></li>
					<li ><a th:href="@{employeelist}">Employee List</a></li>
					<li>
						<form name="logoutForm" id="logoutForm" method="post" th:action="@{logout}" th:hidden="true">
							<input type="submit" value="Logout"/>
						</form>
						<a id="logOutLink">Logout</a><br/>
					</li>
				</ul>
			</div>
			<div class="main">
				<h3>Employee List</h3>
				<div>
					<form name="deleteForm" id="deleteForm" method="post" th:action="@{employeeList}" th:hidden="true">
						<input type="hidden" id="deleteUserId" th:name="deleteUserId" />
					</form>				
					<table>
						<tr>
							<th>Name</th>
							<th>Role</th>
							<th>Band</th>

						</tr>
						<tr th:each="employee, loop : ${employeeList}">
							<td><label th:text="${employee.name}"></label></td>
							<td><label th:text="${employee.job}"></label></td>
							<td><label th:text="${employee.band}"></label></td>
						</tr>
					</table>
<!--					class="btn btn-primary btn-sm mb-3"-->
				</div>
			</div>
		</div>
	</body>
	
</html>