
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<title>Employee List</title>
	<link rel="stylesheet" th:href="@{/css/skillMngStyle.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script th:src="@{/javascript/jquery.min.js}"></script>
	<script th:src="@{/javascript/skillMngJQ.js}"></script>
</head>

<body>
<div class="container">
	<div class="menu">
		<ul>
			<li><a th:href="@{/home}">Home</a></li>
			<li sec:authorize =hasRole('EMPLOYEE')><a  th:href="@{mydata}">My Data</a></li>
			<li sec:authorize =hasRole('ADMIN')><a  th:href="@{/employeelist}">Employee List</a></li>
			<li sec:authorize =hasRole('ADMIN')><a  th:href="@{/projectlist}">Project List</a></li>
			<li>
				<form name="logoutForm" id="logoutForm" method="post" th:action="@{logout}" th:hidden="true">
					<input type="submit" value="Logout"/>
				</form>
				<a id="logOutLink">Logout</a><br/>
			</li>
		</ul>
	</div>
	<div class="main">
		<h3>Employee List</h3>
		<table border="1">
			<tr>
				<th>Employee Id</th>
				<th>Employee Name</th>
				<th>Role</th>
				<th>Band</th>
				<th>Project</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr th:each="employee, loop : ${employeeList}">
				<td><label th:text="${employee.id}"></label></td>
				<td><label th:text="${employee.name}"></label></td>
				<td><label th:text="${employee.job}"></label></td>
				<td><label th:text="${employee.band}"></label></td>
				<td><label th:text="${employee.project.projectName}"></label></td>
				<td><a th:href="@{/edit/}+${employee.id}"><button  th:value="${employee.id}">Edit</button></a></td>
				<td> <a th:href="@{deleteemployee/{id}(id=${employee.name})}"><input id="delete" type="button" value="Delete" ></a></td>
			</tr>

			<div id="error"><span th:if="${success}">User edited</span></div>

		</table>
	</div>
</div>

</div>
</body>

</html>