
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Forgot Password</title>
		<link rel="stylesheet" th:href="@{/css/skillMngStyle.css}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script th:src="@{/javascript/jquery.min.js}"></script>
		<script th:src="@{/javascript/skillMngJQ.js}"></script>
	</head>
	
	<body>
		<div class="container">

			<h3>Forgot Password</h3>
			<div>
				<hr/>
				<form method="POST" id="validateForm" th:action="@{/forgotpassword/validateUser}">
					<div class="gridForm">				
						<div><label for="userId">User Id: </label></div>
						<div><input type="text" th:name="userId" id="userId" th:value="${employee?.user?.username}" /></div>
						<div><label for="petname">What's your pet's name? </label></div>
						<div><input type="text" th:name="petname" id="petname" th:value="${employee?.petName}"/></div>

						<div></div>
						<div><button id="validate" value="Validate" />Validate</div>
					</div>
				</form>
			</div>
			<div th:if="${param.validated}">
				<h3>Reset Password</h3>
				<div>
					<form method="POST" id="resetForm" th:action="@{/forgotpassword/resetUser}">
						<div class="gridForm">				
							<div><label for="password">Password: </label></div>
							<div><input type="password" th:name="password" id="password" /></div>
							<div><label for="confirmPassword">Confirm Password: </label></div>
							<div><input type="password" th:name="confirmPassword" id="confirmPassword" /></div>
	
							<div></div>
							<div><button id="reset" value="Reset">Reset</button></div>
						</div>
						<input type="hidden" th:name="identifier" id="identifier" th:value="${identifier}" /> 
					</form>
				</div>
			</div>
			<div id="error"><span th:if="${param.validateError}">User Id/Security answer is invalid</span></div>		
		</div>
	</body>
	
</html>