<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
	
	<head>
		<title>Skill Management</title>
		<link rel="stylesheet" th:href="@{/css/skillMngStyle.css}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script th:src="@{/javascript/jquery.min.js}"></script>
		<script th:src="@{/javascript/skillMngJQ.js}"></script>
	</head>
	<body>
		<div class="container">
			<div class="menu">
				<ul>
					<li><a th:href="@{/home}">Home</a></li>
					<li sec:authorize =hasRole('EMPLOYEE')><a  th:href="@{mydata}">My Data</a></li>
					<li sec:authorize =hasRole('ADMIN')><a  th:href="@{/employeelist}">Employee List</a></li>
					<li sec:authorize =hasRole('ADMIN')><a  th:href="@{/projectlist}">Project List</a></li>
					<li>
						<form name="logoutForm" id="logoutForm" method="post" th:action="@{logout}" th:hidden="true">
							<input type="submit" value="Logout"/>
						</form>
						<a id="logOutLink">Logout</a><br/>
					</li>
				</ul>
			</div>
			<div class="main">
				<h3>Welcome to Skill Management - Rookie Program</h3>
			</div>
		</div>
		<div id="success"><span th:if="${success}">Employee updated</span></div>

	</body>

	
</html>