<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Data</title>
    <link rel="stylesheet" th:href="@{/css/skillMngStyle.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/javascript/jquery.min.js}"></script>
    <script th:src="@{/javascript/skillMngJQ.js}"></script>
    <style>
			.gridForm input, .gridForm select{
				width: 200px;
			}
		</style>
</head>
<body>
<div class="container">
    <h3>My Data</h3>
    <hr/>
    <form method="POST" id="editForm" th:action="@{/mydata/save}" th:object="${editForm}">
        <div class="gridForm">
            <div><label for="userId">User Id: </label></div>
            <div><input style="background-color: #BBBBBB;" th:name="user.username" th:value="${employee.getUser.username}" type="text" name="userId" id="userId" maxlength="30"/></div>
            <div><label for="name">Name: </label></div>
            <div><input style="background-color: #BBBBBB;" th:name="name" th:value="${employee.name}" type="text" name="name" id="name" maxlength="30"/></div>
            <div><label for="age">Age: </label></div>
            <div><input style="background-color: #BBBBBB;" th:name="age" th:value="${employee.age}" type="text" name="age" id="age" min="0" max="999" maxlength="3"/></div>
            <div><label for="password">Password: </label></div>
            <div><input style="background-color: #BBBBBB;" th:name="user.password" th:value="${employee.getUser.password}" type="password" name="password" id="password" maxlength="30"/></div>
            <div><label for="petname">Pet Name: </label></div>
            <div><input style="background-color: #BBBBBB;" th:name="petName" th:value="${employee.petName}" type="text" name="petname" id="petname" maxlength="30"/></div>
            <div><label for="gender">Gender: </label></div>
            <div>
                <select name="gender" style="background-color: #BBBBBB;" th:name="gender" th:value="${employee.gender}" id="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div label for="project">Project Name</label>
                <select th:name="project.projectName" input style="background-color: #BBBBBB;">
                    <option th:value="${project.projectName}"  th:each="project, loop : ${projectList}" th:name="${project.projectName}" ></option>
                </select>
            </div>
            <div></div>
            <div>
                <div label for="job">Role:</label></div>
                <div>
                    <select name="job" style="background-color: #BBBBBB;" id="job">
                        <option value="Systems Analyst" th:name="job">Systems Analyst</option>
                        <option value="Quality Assurance Tester" th:name="job">Quality Assurance Tester</option>
                        <option value="Database Manager" th:name="job">Database Manager</option>
                    </select>
                </div>
            </div>
            <div>
                <div label for="band">Band:</label></div>
                <div>
                    <select name="band" style="background-color: #BBBBBB;" id="band">
                        <option value="B1" th:name="band">B1</option>
                        <option value="B3" th:name="band">B2</option>
                        <option value="B2" th:name="band">B3</option>
                    </select>
                </div>
            </div>
            <div><button id="Save">Save</button></div>
            <div id="error"><span th:if="${success}">Employee updated</span></div>

        </div>
    </form>
</div>
</body>

</html>