<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/skillMngStyle.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/javascript/jquery.min.js}"></script>
    <script th:src="@{/javascript/skillMngJQ.js}"></script>
    <style>
			.gridForm input, .gridForm select{
				width: 200px;
			}
		</style>
</head>
<body>
<div class="container">
    <div class="menu">
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li sec:authorize =hasRole('EMPLOYEE')><a  th:href="@{mydata}">My Data</a></li>
            <li sec:authorize =hasRole('ADMIN')><a  th:href="@{/employeelist}">Employee List</a></li>
            <li sec:authorize =hasRole('ADMIN')><a  th:href="@{/projectlist}">Project List</a></li>
            <li>
                <form name="logoutForm" id="logoutForm" method="post" th:action="@{logout}" th:hidden="true">
                    <input type="submit" value="Logout"/>
                </form>
                <a id="logOutLink">Logout</a><br/>
            </li>
        </ul>
    </div>
    <div class="main">
    <h3>Project Data</h3>
    <hr/>
    <form method="POST" id="projectDataForm" th:action="@{/projectdata}" th:object="${projectDataForm}">
        <div class="gridForm">
            <div><label for="projectId">Project Id: </label></div>
            <div><input style="background-color: #BBBBBB;"  th:field="*{projectId}" type="text" name="projectId" id="projectId" maxlength="30"/></div>
            <div><label for="projectName">Project Name: </label></div>
            <div><input style="background-color: #BBBBBB;" th:field="*{projectName}" type="text" name="projectName" id="projectName" maxlength="30"/></div>
            <div><label for="startDate">Start Date: </label></div>
            <div><input style="background-color: #BBBBBB;" th:field="*{projectStartDate}" type="text" name="startDate" id="startDate" min="0" max="999" maxlength="10"/></div>
            <div><label for="endDate">End Date: </label></div>
            <div><input style="background-color: #BBBBBB;" th:field="*{projectEndDate}" type="text" name="endDate" id="endDate" maxlength="10"/></div>
            </div>
            <div>
            <div><button id="saveproject">Save</button></div>

                <div id="error"><span th:text="${errorMessage}"></span></div>

                <div id="success"><span th:text="${success}"></span></div>

</div>
    <div id="errorEm">
        <span th:if="${employeeList}">
            <h3>Project Already Exists</h3>
            <h3>Project Data</h3>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Band</th>

                </tr>
                <tr th:each="employee, loop : ${employeeList}">
                    <td><label th:id="name+(${loop.index}+1)" th:text="${employee.name}"></label></td>
                    <td><label th:id="role+(${loop.index}+1)" th:text="${employee.job}"></label></td>
                    <td><label th:id="band+(${loop.index}+1)" th:text="${employee.band}"></label></td>
                </tr>
            </table>
            <!--					class="btn btn-primary btn-sm mb-3"-->
        </div>

        </span>
    </div>
    </form>
</div>
</div>
</body>

</html>